<footer class="bg-gray-900 text-white  px-20 ">

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 py-[120px]">

    <!-- Site Name / Logo -->
    <div>
      <a href="/" class="text-2xl font-bold">AB</a>
      <p class="text-sm text-gray-400 mt-1">Anonymous Blog</p>
      <p class="text-sm text-gray-400 mt-1 w-full">Share your thoughts, stories, and opinions without revealing your identity. Read what others are saying</p>
    </div>
    <!-- Navigation Links -->
    <div>
      <ul class="flex space-y-2 text-sm flex-col text-gray-400">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/posts" class="hover:underline">Posts</a></li>
        <li><a href="/write" class="hover:underline">Write</a></li>
        <li><a href="/login" class="hover:underline">Login</a></li>
      </ul>
    </div>
    <div>
      <ul class="flex space-y-2 text-sm flex-col text-gray-400">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/posts" class="hover:underline">Posts</a></li>
        <li><a href="/write" class="hover:underline">Write</a></li>
        <li><a href="/login" class="hover:underline">Login</a></li>
      </ul>
    </div>

    <!-- Extra Info -->
  </div>

  <hr class="bg-gray-200 h-[1px] w-full my-5">
  <div class="text-center text-sm text-gray-400 pb-3">
    <div class="flex justify-center space-x-4 mt-2">
      <a href="#" class="hover:text-blue-500"><i class="fab fa-facebook"></i></a>
      <a href="#" class="hover:text-blue-400"><i class="fab fa-twitter"></i></a>
      <a href="#" class="hover:text-pink-500"><i class="fab fa-instagram"></i></a>
      <a href="#" class="hover:text-red-600"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

</footer>
<!-- AOS Script -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>